.list-padding{
  li{
    padding:.5em 0;
  }

}
.checkout-btn{
  background-color:#1E88E5;color:#FFF;padding:8px 12px;border:0;border-radius:3px;font-size:1.1765em;
  font-family:Roboto;font-weight:700; height: 3.4375rem; width: 20.0625rem;box-shadow:0 1px 3px rgba(1,1,1,0.5);
}
